{
  "presets": [ "react" ],
  "plugins": [
    "add-module-exports",
    "transform-export-extensions",
    "transform-decorators-legacy",
    "transform-es2015-modules-commonjs",
    "transform-async-to-generator",
    "transform-object-rest-spread"
  ],
  "env": {
    "production": {
      "presets": ["react-optimize"],
      "plugins": ["babel-plugin-dev-expression"]
    },
    "development": {
      "plugins": [
        "transform-class-properties",
        "transform-es2015-classes",
        "tcomb"
      ],
      "presets": ["react-hmre"]
    },
    "test": {
      "plugins": [
        ["webpack-loaders", { "config": "webpack.config.test.js", "verbose": false }]
      ]
    }
  }
}
